# Mobile Games A/B Testing - Cookie Cats

## Introduction
This ab test will be focusing on how gate placement in the game Cookie Cats affects user retention. When we move the first gate from level 30 to level 40, how are players going to impact?

## About Dataset
### Context
This dataset includes A/B test results of Cookie Cats to examine what happens when the first gate in the game was moved from level 30 to level 40. When a player installed the game, he or she was randomly assigned to either gate_30 or gate_40.

### Content
The data we have is from 90,189 players that installed the game while the AB-test was running. The variables are:

**userid:** A unique number that identifies each player.
**version:** Whether the player was put in the control group (gate_30 - a gate at level 30) or the group with the moved gate (gate_40 - a gate at level 40).
**sum_gamerounds:** the number of game rounds played by the player during the first 14 days after install.
**retention_1:** Did the player come back and play 1 day after installing?
**retention_7:** Did the player come back and play 7 days after installing?

When a player installed the game, he or she was randomly assigned to either.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cookie_cats.csv')
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[90189 rows x 5 columns]

### 1. check for missing values and duplicates

In [4]:
df.isna().sum()

userid            0
version           0
sum_gamerounds    0
retention_1       0
retention_7       0
dtype: int64

In [5]:
df.duplicated().sum()

0

### 2. Analysis

In [7]:
# lets see how many rows in each AB group
df.groupby('version')['userid'].count()

# both version have similar numbers

version
gate_30    44700
gate_40    45489
Name: userid, dtype: int64